<script type = 'text/javascript' src = "public/javascripts/buttons2.js"> </script>

<!-- тут прописать в зависимости от длины вариантов выбот форматирования - в одну колонку или в две, маленькие инпуты или большие -->

<!-- добавить галочки -->

<form action='process.php?qIndex={{question.qIndex}}' method='post'>
    
    <div class = 'variantes'>
        {% for key, variant in variantes %}

            <div class = 'answer-item-md' id = "answer-{{key}}">
                <input name = "name[]" id = "{{key}}" type = 'radio' value = "{{key}}"
                   {% if qData[key] == "true" %} checked = 'checked' {% endif %} class = 'hiddenInput'>
                <div class = 'answer-num'> {{variant['answerIndex']}} </div>
                <div class = 'answer-text'> {{variant['answer_text']}} </div>
                <div class = 'tick-hidden'><i class = 'fa fa-check'></i></div>
            </div>
        
        {% endfor %}
        
    </div>
    <div class = 'buttons'>
        <button name = "prev" id="prev" type="submit" value="back"  class = 'arrow-btn'> 
            <i class = 'fa fa-chevron-left fa-2x move_left'></i>
        </button>
        <button name = "next" id="next" type="submit" value="next" class = 'arrow-btn'>
            <i class = 'fa fa-chevron-right fa-2x move_right'></i>
        </button>
    </div>
</form>
